/* General page layout */
body {
    background-color: #0e1636;
    color: #f2e7cf;
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin: 0;
}

/* Container for results page */
.results-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}


/* Header style for results */
.results-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #f2e7cf; /* Ensures header text color matches the theme */
}

/* Bar chart styles */
.chart-container {
    position: relative;
    object-fit: contain;
    justify-items: center;
}

canvas {
    height: 400px;
    width: 500px;
}


/* Scores display style */
.results-scores {
    display: flex;
    justify-items: center;
    margin-top: 30px;
    gap: 30px;
}

.results-scores div {
    font-size: 18px;
    color: #f2e7cf; /* Ensures text color matches the theme */
}

.results-scores div p {
    margin: 10px 0;
    font-weight: bold;
}

/* Buttons section style */
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.button {
    background-color: #53544f;
    color: #f2e7cf;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3f4c8f;
}
