<footer class="footer">
    <div class="footer-lines">
        <img src="/media/footer-line-1.png" alt="Footer Line 1">
        <img src="/media/footer-line-2.png" alt="Footer Line 2">
    </div>
    <div class="footer-content">
        <div class="footer-content-left">
            <div class="sign-off-title">HWA CHONG LEADERSHIP APPRAISAL TEAM</div>
            <div class="sign-off-content">If you have any queries, do contact us @something.gmail.com</div>
        </div>

        <div class="footer-content-right">
            All responses and results from this quiz will be kept strictly confidential and used solely for the purpose of leadership appraisal. <br><br>
            The data will not be shared outside the designated appraisal team or school administration. By participating in this quiz, you can be assured that your insights and progress will remain secure and treated with the utmost respect.
        </div>
    </div>


</footer>