<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appraisal Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navbar-container">
        {% include 'navbar.html' %}
    </div>
    <div class="app-container">
        <h1>APPRAISAL</h1>
        <p>FIND OUT WHAT MAKES YOU A GREAT LEADER</p>
        <div class="progress-bar">
            <div class="progress"></div>
            <span class="progress-percent">0%</span> <!--0% changes according to bar-->
        </div>
        <div class="quiz-container">
            <div class="quiz-questions"></div>
            <div class="button-container">
                <button id="next-btn" class="next">Next</button>
                <button id="submit-btn" class="hidden">Submit Quiz</button>
            </div>
        </div>
    </div>
</body>
</html>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
