{% extends 'base.html' %}

<!-- head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock%}

<!-- body -->
{% block body %}
<div class="index-the-main-stuff">
        
    <div class="to-understand">
        <div class="understand">
            <div class="understand-title">UNDERSTAND OTHERS</div>
            <div class="understand-subtitle">GET TO KNOW THE MANY LEADERSHIP TYPES</div>
        </div>
    
        <div class="understand-content-1">
            <div class="understand-left">
                <div class="paragraph"><div class="paragraph-point"><strong>“The first and best victory is to conquer self”</strong> —Plato</div></div>
                <div class="paragraph">Every good leader starts with a deep understanding of themselves. With this quiz, we invite you to embark on a journey of self-discovery that will reveal your unique leadership qualities:</div>
                <div class="paragraph">
                    <div class="paragraph-point"><strong>Your Strengths: </strong>What makes you stand out as a leader? Learn how to harness these qualities to inspire and guide others effectively.</div>
                    <div class="paragraph-point"><strong>Areas For Growth: </strong>Identify the skills or traits you can develop to become a more balanced and well-rounded leader.</div>
                    <div class="paragraph-point"><strong>Self vs. Peer Perception: </strong>Discover how your peers view your leadership qualities compared to how you see yourself. This will help you identify blind spots and areas where you excel.</div>
                </div>
            </div>

            <div class="understand-middle"></div>
    
            <div class="understand-right">
                <div class="lead-up-to-quiz">
                    <div class="paragraph">Leadership is a journey of continuous growth and self-discovery, and this quiz is more than just a snapshot—it’s a tool for continuous improvement.</div>
                    <div class="paragraph">By taking this quiz at the start of your leadership journey and revisiting it later, you can track your progress and growth over time. The insights you gain will help you not only to grow as a leader but also to build stronger relationships and make a meaningful impact within your team.</div>
                    <div class="paragraph">Get ready to unlock your full leadership potential!</div>
                </div>
                <div class="taking-the-quiz">
                    <div class="paragraph"><strong>Ready to take the next step?</strong></div>
                    <button id="quizButtonTakeQuiz" class="quiz-button">TAKE THE QUIZ</button>
                </div>
            </div>
        </div>
    </div>

    <div class="to-understand">
        <div class="understand">
            <div class="understand-title">UNDERSTAND YOURSELF</div>
            <div class="understand-subtitle">FIND OUT WHAT MAKES YOU A GREAT LEADER</div>
        </div>
    
        <div class="understand-content-2">
            <div class="type-1">
                <div class="avatar">
                    <div class="the-avatar"><img src="{{url_for('static', filename='media/adaptive-the-avatar.png') }}" alt="adaptive-the-avatar"></div>
                    <div class="the-avatar-name">ADAPTIVE</div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar-words">
                    <div class="avatar-words-title">ADAPTIVE</div>
                    <div class="avatar-words-description">
                        PROCESS ORIENTED & CHARACTER ORIENTED<br><br><br>
                        In a disruptive, VUCA (Volatile, Uncertain, Complex, Ambiuous) world, it is an even greater challenge to handle tough, ambiguous and confrontational situations. <br><br>
                        The adaptive leader is mindful and has flexibility to manage tough challenges or ambiguous situations, and even thrive.
                    </div>
                </div>
            </div>

            <div class="type-2">
                <div class="avatar-words">
                    <div class="avatar-words-title">ETHICAL</div>
                    <div class="avatar-words-description">
                        CHARACTER ORIENTED & PEOPLE ORIENTED<br><br><br>
                        The foundation of self-leadership and leadership is ethical leadership. It entails having a strong moral bearing in terms of values, integrity and moral purpose.<br><br>
                        Ethical leaders integrate their moral bearing in their work, relationships, and decision making. This leads to positive morale, team ethics and dynamics, and overall health and climate of the school.
                    </div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar">
                    <div class="the-avatar"><img src="{{url_for('static', filename='media/ethical-the-avatar.png') }}" alt="ethical-the-avatar"></div>
                    <div class="the-avatar-name">ETHICAL</div>
                </div>
            </div>

            <div class="type-1">
                <div class="avatar">
                    <div class="the-avatar"><img src="{{ url_for('static', filename='media/entrepreneur-the-avatar.png') }}" alt="entrepreneur-the-avatar"></div>
                    <div class="the-avatar-name">ENTREPRENEUR</div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar-words">
                    <div class="avatar-words-title">ENTREPRENEUR</div>
                    <div class="avatar-words-description">
                        PROCESS ORIENTED AND TASK ORIENTED<br><br><br>
                        Putting passion and energy into what they do, servant leaders seek not only to handle challenges but also to thrive and flourish.<br><br>
                        The entrepreneurial leader has the drive to identify or create opportunities to take initiatives that go beyong mere incremental improvements for the community.
                    </div>
                </div>
            </div>

            <div class="type-2">
                <div class="avatar-words">
                    <div class="avatar-words-title">APPRECIATIVE</div>
                    <div class="avatar-words-description">
                        TASK ORIENTED & PEOPLE ORIENTED<br><br><br>
                        People will always be more important than structures and tasks in accomplising goals.<br><br>
                        The appreciative leader has the ability to recognise, value, and work with one's own and others' strengths.
                    </div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar">
                <div class="the-avatar"><img src="{{ url_for('static', filename='media/appreciative-the-avatar.png') }}" alt="appreciative-the-avatar"></div>
                    <div class="the-avatar-name">APPRECIATIVE</div>
                </div>
            </div>

            <div class="type-1">
                <div class="avatar">
                    <div class="the-avatar"><img src="{{ url_for('static', filename='media/adaptive-the-avatar.png') }}" alt="adaptive-the-avatar"></div>
                    <div class="the-avatar-name">PEOPLEPROCESS</div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar-words">
                    <div class="avatar-words-title">PEOPLE AND PROCESS</div>
                    <div class="avatar-words-description">
                        PEOPLE ORIENTED & PROCESS ORIENTED<br><br><br>
                        In a disruptive, VUCA (Volatile, Uncertain, Complex, Ambiuous) world, it is an even greater challenge to handle tough, ambiguous and confrontational situations. <br><br>
                        The adaptive leader is mindful and has flexibility to manage tough challenges or ambiguous situations, and even thrive.
                    </div>
                </div>
            </div>

            <div class="type-2">
                <div class="avatar-words">
                    <div class="avatar-words-title">CHARACTER AND TASK</div>
                    <div class="avatar-words-description">
                        CHARACTER ORIENTED & TASK ORIENTED<br><br><br>
                        The foundation of self-leadership and leadership is ethical leadership. It entails having a strong moral bearing in terms of values, integrity and moral purpose.<br><br>
                        Ethical leaders integrate their moral bearing in their work, relationships, and decision making. This leads to positive morale, team ethics and dynamics, and overall health and climate of the school.
                    </div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar">
                    <div class="the-avatar"><img src="{{ url_for('static', filename='media/ethical-the-avatar.png') }}" alt="ethical-the-avatar"></div>
                    <div class="the-avatar-name">CHARACTER AND TASK</div>
                </div>
            </div>

            <div class="type-1">
                <div class="avatar">
                    <div class="the-avatar"><img src="{{ url_for('static', filename='media/entrepreneur-the-avatar.png') }}" alt="entrepreneur-the-avatar"></div>
                    <div class="the-avatar-name">WELL ROUNDED</div>
                </div>
                <div class="avatar-middle"></div>
                <div class="avatar-words">
                    <div class="avatar-words-title">WELL ROUNDED</div>
                    <div class="avatar-words-description">
                        PROCESS ORIENTED, TASK ORIENTED, CHARACTER ORIENTED AND PEOPLE ORIENTED<br><br><br>
                        Putting passion and energy into what they do, servant leaders seek not only to handle challenges but also to thrive and flourish.<br><br>
                        The entrepreneurial leader has the drive to identify or create opportunities to take initiatives that go beyong mere incremental improvements for the community.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock%}