{% extends 'base.html' %}

<!-- head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">

<title>Appraisal</title>
{% endblock%}

<!-- body -->
{% block body %}
<div class="app-container">
    <div class="appraisal-heading-thing">
        <div class="appraisal-title">APPRAISAL</div>
        <div class="appraisal-subtitle">FIND OUT WHAT MAKES YOU A GREAT LEADER</div>
    </div>
    
    <div class="quiz-stuff">
        <div class="progress-stuff">
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <div class="progress-percent">0%</div>
        </div>

        <div class="quiz-container">
            <div class="quiz-questions"></div>
            <div class="button-container">
                <button id="next-btn" class="next">
                    NEXT
                    <img src="{{ url_for('static', filename='media/next.png') }}" alt="Close" class="next-icon">
                </button>
                <button id="submit-btn" class="hidden">
                    SUBMIT
                    <img src="{{ url_for('static', filename='media/next.png') }}" alt="Close" class="next-icon">
                </button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>

{% endblock%}